*{
  margin: 0;
  padding: 0;
}
.app{
  background:linear-gradient(violet,rgb(207, 148, 148),rgb(143, 143, 221));
  height: 100%;
}
form{
  width: 300px;
  height: auto;
  padding-left:6%;
  background-color: gray;
  margin: 10px 35%;
  opacity: 0.7;
  border-radius: 20px;
}
input{
  font-family: sans-serif;
  font-size: medium;
  color: black;
  border-style: none;
  width: 200px;
  height: 50px;
  border: 2px solid blue;
}
button{
  width: 200px;
  height: 50px;
  background-color: blue;
  color: #fff;
}
label{
  color: red;
  font-weight: 500;
}